# SMTP Email Configuration
EMAIL_SMTP_HOST=mail.privateemail.com
EMAIL_SMTP_PORT=465
EMAIL_SMTP_SECURE=true
EMAIL_SMTP_USER=info@studywithczechbridge.com
EMAIL_SMTP_PASS=RZv2-wW8b-29by-kX5G-npy8-4xtF
EMAIL_FROM=info@studywithczechbridge.com
EMAIL_FROM_NAME=Study With Czech Bridge
EMAIL_ADMIN_NOTIFY=1997herobala@gmail.com
